

.wallet-adapter-dropdown > .wallet-adapter-button {

    background-color: transparent !important;
    font-weight: 600;
    font-size: 14px;
}

.wallet-adapter-modal-wrapper {
    background-color: #0f172a !important;
}

.wallet-adapter-modal-button-close {
    background-color: #1e293b !important;
}
